<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowPositionSaver.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WindowPositionSaver.Properties.Settings>
            <setting name="wps1_left" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps1_top" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps1_width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps1_height" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps1_window_state" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="wps1_all_screens_width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps1_all_screens_minimum" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps1_last_use" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="wps2_left" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps2_top" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps2_width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps2_height" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps2_window_state" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="wps2_all_screens_width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps2_all_screens_minimum" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps2_last_use" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="wps3_left" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps3_top" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps3_width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps3_height" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps3_window_state" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="wps3_all_screens_width" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps3_all_screens_minimum" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="wps3_last_use" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
        </WindowPositionSaver.Properties.Settings>
    </userSettings>
</configuration>